<div class="mainPanel">
	<div ng-controller="ExperienceListController">
		<div ng-hide="search">
			<div id="experience-list">
				<div class="panel panel-default"
					ng-repeat="experience in experienceList">
					<div class="panel-heading">
						<span ng-switch on="experience.mood">
							<span ng-switch-when="good" style="color: green">Good Experience</span>
							<span ng-switch-when="bad" style="color: red">Bad Experience</span>
							<span ng-switch-default></span>
						</span>
						by <a href="/UrbSource/user/info/{{experience.author.id}}">{{experience.author.username}}</a>
						on {{ experience.creationTime | date:'yyyy-MM-dd HH:mm:ss' }}
					</div>
					<div class="panel-body">
						<p>{{experience.text}}</p>
						<p>
							Tags: <span ng-repeat="tag in experience.tags">{{tag.name}},
							</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="search">
			Search Results:<br>
			<div id="experience-list">
				<div class="panel panel-default"
					ng-repeat="experience in experienceList">
					<div class="panel-heading">
						<span ng-switch on="experience.mood">
							<span ng-switch-when="good" style="color: green">Good Experience</span>
							<span ng-switch-when="bad" style="color: red">Bad Experience</span>
							<span ng-switch-default></span>
						</span>
						by <a href="/UrbSource/user/info/{{experience.author.id}}">{{experience.author.username}}</a>
						on {{ experience.creationTime | date:'yyyy-MM-dd HH:mm:ss' }}
					</div>
					<div class="panel-body">
						<p>{{experience.text}}</p>
						<p>
							Tags: <span ng-repeat="tag in experience.tags">{{tag.name}},
							</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>