<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html data-ng-app="urbsource">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>UrbSource</title>
<!-- RESOURCES -->

<!-- JS -->
<script src="resources/jquery-1.11.1.js"></script>
<script src="resources/angular/angular.js"></script>
<script src="resources/angular/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="resources/angular/angucomplete.js"></script>
<script src="resources/js/ng-grid.debug.js"></script>

<!--  CSS -->
<link rel="stylesheet" type="text/css" href="resources/css/ng-grid.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-combined.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/angucomplete.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/urbSource.css">


<!-- APP -->
<script src="app/app.js"></script>
<script src="app/util/AngucompleteService.js"></script>
<!-- MAIN PAGE -->
<script src="app/mainPage/js/directives.js"></script>
<script src="app/mainPage/js/controllers.js"></script>
<script src="app/mainPage/searchPanel/controllers.js"></script>
</head>
<body>
	<div class="containSearchLogin" ng-controller="URLCtrl">
		<us-search-panel></us-search-panel>
		<us-user-info-panel></us-user-info-panel>
	</div>
	<us-main-panel></us-main-panel>
	<!-- <div data-ng-controller="indexCtrl">
		<div data-ng-grid="usernameGridOptions"
			style="height: 200px; width: 100px; margin-left:20px;"></div>
		<form style="margin-top:230px;">
			<input placeholder="Name" data-ng-model="name">
			<button type="button" data-ng-disabled="!name"
				data-ng-click="addName()">Ekle</button>
		</form>
	</div> -->
</body>
</html>